/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */

/* 1. Global Styles
======================================== */

body {
    margin: 0;
    height: 100vh;
    color: white;
    font-size: 24px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(pexels-markusspiske-1089438.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(40%);
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


  /* 2. Typography Styles
  ======================================== */

a {
    color: black;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

  /* 3. Structure Styles
  ======================================== */

.portfolio{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  /* 4. Modules Styles
  ======================================== */

  /* Site Breadcrumb Navigation */
  .breadcrumb {
    text-align: left;
}

.breadcrumb li {
    float: left;
}

.breadcrumb a {
    color: #fff;
    background: green;
    text-decoration: none;
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
    padding: 0 5px;
}

.breadcrumb a::before,
.breadcrumb a::after {
    content: "";
    position: absolute;
    border-color: green;
    border-style: solid;
    border-width: 15px 5px;
}

.breadcrumb a::before {
    left: -10px;
    border-left-color: transparent;
}

.breadcrumb a::after {
    left: 100%;
    border-color: transparent;
    border-left-color: green;
}

.breadcrumb a:hover {
    background-color: greenyellow;
}

.breadcrumb a:hover::before {
    border-color: greenyellow;
    border-left-color: transparent;
}

.breadcrumb a:hover::after {
    border-left-color: greenyellow;
}

  
  /* 5. Component Styles
  ======================================== */


  
  /* Boutons */

button {
  background: #7fd12f;
  border: 1px solid #629921;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 #8ff339;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  outline: 0;
  padding: 10px 35px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #629921;
  background: linear-gradient(to bottom, #7fd12f 0%, #629921 100%);
  transition: padding 50ms ease-in-out, border-top-width 50ms ease-in-out, box-shadow 150ms ease-in-out;
}
button:hover {
  background: #88d602;
  background: linear-gradient(to bottom, #88d602 0%, #66a023 100%);
  box-shadow: inset 0 1px 0 #8ff339, 0 0 10px rgba(0, 0, 0, 0.4);
}
button:active {
  border-top-width: 2px;
  box-shadow: none;
  padding-bottom: 8px;
}



  /* Tableaux */
  
  .table-wrapper {
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid green;
    display: inline-block;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    padding: 5px;
    text-align: center;
    min-width: 35px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


th.code {
    width: 135px;
    border-bottom: 3px darkolivegreen solid;
}

th.name {
    width: 145px;
    border-right: 3px darkolivegreen solid;
    border-left: 3px darkolivegreen solid;
    border-bottom: 3px darkolivegreen solid;
}

th.descri {
    border-right: 3px darkolivegreen solid;
    border-left: 3px darkolivegreen solid;
    border-bottom: 3px darkolivegreen solid;
}

th.note {
    width: 135;
    border-bottom: 3px darkolivegreen solid;
}

td {
    border: 1px darkolivegreen solid;
    text-align: left;
    padding: 5px;
    border-bottom: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

td.note {
    border-right: none;
}

.s_c {
    text-align: center;
}

.code {
    border-left: none;
    min-width: 105px;
}

.name {
    min-width: 75px;
    padding: 10px;
}

.descri {
    width: 800px;
}

.note {
    width: 150px;
}

.tabsec {
    border-left: none;
    border-right: none;
    font-weight: bold;
    text-align: center;
}


    /* 6. Page Styles
  ======================================== */









    /* 7. INVISICLOAK
  ======================================== */
